#centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article{
    padding: 17px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    background-color: aquamarine;
}