/* Este contenedor organiza los artículos de las películas */
#centrado {
    display: flex;
    /* Usamos flexbox para ordenar los elementos */
    flex-wrap: wrap;
    /* Permite que los elementos bajen a otra línea */
    justify-content: center;
    /* Centra los artículos horizontalmente */
    gap: 20px;
    /* Espacio entre artículos */
    align-items: stretch;
    /* Hace que todos tengan la misma altura */
}

/* Margen superior e inferior para las secciones */
section {
    margin-top: 10px;
    margin-block-end: 10px;
}

/* Color de fondo de toda la página */
html {
    background-color: rgb(109, 226, 242);
}

/* Estilo de cada tarjeta de película */
article {
    width: 450px;
    padding: 20px;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 16px;
    /* Bordes redondeados */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    /* Sombra para efecto visual */
}

/* Estilo del título principal */
#título {
    color: #1e2ac9;
    background-color: #FFF19B;
    text-align: center;
    padding: 15px;
    border: 3px solid #000000;
    margin: 0px;
    font-family: Helvetica;
}

/* Estilo de las imágenes de las películas */
.imagen_pelicula {
    width: 200px;
    height: 250px;
    align-self: center;
    padding: 23px;
}

/* Estilo del footer */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Transición para animaciones suaves */
article {
    transition: all 0.3s ease;
}

/* Efecto cuando el ratón pasa por encima de un artículo */
article:hover {
    background-color: lightblue;
    transform: scale(1.05);
    /* Hace que se agrande un poco */
    cursor: pointer;
}

/* Tamaños de texto según el modo de visualización */
.articulos.small {
    font-size: 14px;
}

.articulos.medium {
    font-size: 18px;
}

.articulos.large {
    font-size: 24px;
}

/* Estilo del botón de cambio de vista */
#vista {
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Tamaño de artículos en ordenador */
article {
    width: 500px;
}

/* Clase para modo noche */
.noche {
    background-color: rgb(68, 65, 65);
    color: white;
    article {
        background-color: rgb(143, 137, 137);
        color: white;
    }
    #título {
        background-color: rgb(143, 137, 137);
        color: white;
    }

}

/* Estilos para móviles */
@media (max-width: 600px) {

    /* Los artículos ocupan todo el ancho */
    article {
        width: 100%;
    }

    /* El título se hace más pequeño */
    h1 {
        font-size: 1.5rem;
    }
}

.modal-contenido {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto; /* scroll si es muy grande */
    border-radius: 10px;
}

/* Para que no se deforme */
.modal-contenido article {
    width: 100%;
}
