<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Aquí definimos información básica de la página -->
    <meta charset="UTF-8">
    <!-- Hace que la página se adapte a móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura de mi Proyecto</title>

    <!-- Conectamos el archivo CSS para dar estilo a la página -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<hr>

<body>
    {% for item in items %}
        <li><strong>{{ item.id }}</strong> - Nombre: {{ item.nombre }} - Descripcion: {{ item.descripcion }} - Director: {{ item.director }} - Protagonista: {{ item.protagonista }} - Valoracion: {{ item.valoracion }} - Prioridad: {{ item.prioridad }}        </li>
    {% endfor %}

   
        
    <!-- Aquí conectamos el archivo JavaScript que controla la interacción -->
    <script src="static/js/main.js"></script>

</body>

</html>