<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Aquí definimos información básica de la página -->
    <meta charset="UTF-8">
    <!-- Hace que la página se adapte a móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura de mi Proyecto</title>

    <!-- Conectamos el archivo CSS para dar estilo a la página -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<hr>

<body>
    <main> 
        
        {% for item in items %}
            <article>
                <h1>Nombre:{{ item.nombre }}</h1>
                <h2>Descripción:{{ item.descripcion }}</h2>
                <h3>Director:{{ item.director }}</h3>
                <h3>Protagonista:{{ item.protagonista }}</h3>  
                <h3>Valoración: {{ item.valoracion }}</h3>
                <h3>Prioridad: {{ item.prioridad }}</h3>
                <h3><img src="{{ url_for('static', filename='img/'+item.imagen) }}" alt="Logo"></h3>
            </article>
        {% endfor %}

    <!-- Aquí conectamos el archivo JavaScript que controla la interacción -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>